:host{
    display: flex;
    flex-direction: row;
    background-color: rgb(209,233,243);
}

a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
}

a:hover{
   
    color:rgb(74, 140, 240);
}

a.po{
    background-color: rgb(74, 169, 209);
    color:rgb(255, 254, 253);
}

.counter{
    padding-left: 5px;
   
}